* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
    color: white;
}

.container {
    position: relative;
    width: 100%;
}


/* Styling the side nav */

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: rgba(19,19,19,255);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 60px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li :hover {
    background:#ca9926;
}

.navigation ul li:nth-child(1) :hover {
    background: transparent;
}

.navigation ul li:nth-child(1) {
    margin-bottom: 20px;
}

#gadget{
    color:#ca9926;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center
}

.iconMain{
    margin: auto;
}

#titleMain{
    margin-left: 50px;
    margin-top: 0;
    font-size: large;
}

.navigation ul li a .icon .zmdi {
    color: white;
    font-size: 24px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}


/* Styling the top bar */

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: rgb(39, 38, 38);
    transition: 0.4s;
}

.main.active {
    width: calc(100% - 60px);
    left: 60px;
}

.main .topbar {
    width: 100%;

    background: rgba(19,19,19,255);
    position: fixed;
    z-index: 100;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.toggle::before {
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: black;
}

 .toggle i{
    margin-top: 10px;
    font-size: 30px;
    color: white;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    border: 1px solid rgb(100, 100, 100);
    outline: none;
    color: white;
    background: rgb(39, 38, 38);

}

.search label .zmdi {
    position: absolute;
    left: 15px;
    top: 4px;
    color: white;
}

.user {
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid tomato;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Styling the dashbaord cards */

#dashboardTitle{
    margin-top: 70px;
    margin-left: 20px;
}
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.cardBox .card {
    position: relative;
    background:#ca9926;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.cardBox .card .numbers {
    position: relative;
    font-size: 2em;
    font-weight: 500;
}


.cardBox .card .cardName {
    color: white;
}

.cardBox .card .iconBox {
    font-size: 2.5em;
    color:green;
}

.details .gadgetList {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    min-height: 530px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: green;
    border: 2px solid green;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    
}

.btn:hover {
    border: 2px solid green;
    background: none;
    color: green;
}

#descWidth{
width: 20%;
}

#descName{
    width: 20%;
    }

#descImage{
        width: 10%;
        }

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.tableHeader{
    font-size: 18px;
    color: rgb(196, 156, 27);
}

.cat{
    text-align: center;
}

.num{
    text-align: center;
}

.details table thead td {
    font-weight: 600;
}

.details table tbody td {
    font-weight: 400;
    font-size: 12px;
}


.details .gadgetList table tr {
    border-bottom: 1px solid rgb(48, 47, 47);
}

.green{
    position: relative;
    width: 35px;
    height: 35px;
    margin: auto;
    border-radius: 50%;
    background-color: rgb(0, 102, 0);
    padding-left: 2.5px;
    padding-top: 9px;
}

.red{
    position: relative;
    width: 35px;
    height: 35px;
    margin: auto;
    border-radius: 50%;
    background-color: rgb(182, 20, 20);
    padding-left: 2.5px;
    padding-top: 9px;
}

.orange{
    position: relative;
    width: 35px;
    height: 35px;
    margin: auto;
    border-radius: 50%;
    background-color:rgb(219, 112, 12);
    padding-left: 2.5px;
    padding-top: 9px;
}

.updateIcon1 {
    font-size: 25px;
    font-weight: 500;
    color: white;
    text-align: center;
    
    
}

.updateIcon2 {
    font-size: 25px;
    font-weight: 500;
    color: white;
    
}

.iconDiv1{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(0, 102, 0);
    padding-left: 7px;
    margin-bottom: 8px;
    border-radius: 5px;

}

.iconDiv2 {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(172, 2, 2);
    padding-left: 8px;
    border-radius: 5px;

}

/* footer section styling */
/* footer{
    bottom: 0;
    background: rgb(29, 26, 26);
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: rgb(12, 206, 175);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
 */

